<!doctype html>
<html lang="{{ meta.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#075985">
    <meta name="twitter:dnt" content="on">
    <link rel="stylesheet" href="/index.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    {% seo "" %}
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
