<nav class="container">
  <ul>
    <li>
      <strong
        ><a href="/" class="site-title contrast">{{ meta.title }}</a></strong
      >
    </li>
  </ul>
  <ul>
    <li>
      {{ about.role.value }}
    </li>
  </ul>
</nav>
