<nav class="container">
  <ul>
    <li>
      <strong
        ><a href="/" class="site-title contrast">{{ meta.title }}</a></strong
      >
    </li>
  </ul>
  <ul>
    {% for slug, link in links %}
      <li>
        <a
          href="{{ link.href }}"
          title="{{ link.title }}"
          {%- if link.rel %}
            rel="{{ link.rel }}"
          {% endif %}
        >
          {{ link.svg | safe }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
