---
layout: base.njk
ogType: article
---
{% include 'nav.njk' %}

<main class="container h-entry">
  <header>
    <hgroup>
      <h1 class="p-name">{{ title }}</h1>
      {% if date %}
        <p>
          <span class="icon-date"
            >Published&nbsp;<date class="dt-published" datetime="{{ date.toISOString() }}">
              {{- date | dateString(dateStyle="medium") -}}
            </date></span
          >
          {% if updated %}
            <br>
            <span class="icon-time"
              >Updated&nbsp;<date class="dt-updated" datetime="{{ updated.toISOString() }}">
                {{- updated | dateString(dateStyle="medium") -}}
              </date></span
            >
          {% endif %}
        </p>
      {% endif %}
    </hgroup>
  </header>
  <div class="e-content">
    {{ content | safe }}
  </div>
</main>
