// Colors

$gray-dark:                 #222;
$gray:                      #55595c;
$gray-light:                #a09da6;
$gray-lighter:              #ddd;
$gray-lightest:             #f7f7f9;

$brand-primary:             #607890;

$enable-grid-classes:       false;

// Links

$link-color:            inherit;
$link-decoration:       underline;
$link-hover-color:      $brand-primary;
$link-hover-decoration: none;

// Fonts

$font-family-sans-serif: 'Fira Sans', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-monospace:  'Fira Mono', 'SF Mono', Menlo, Monaco, Consolas, "Courier New", Courier, monospace;

// Jumbotron

$jumbotron-padding:              1rem;
$jumbotron-bg:                   $gray-lighter;


// Tooltips

$tooltip-arrow-width:         0.75rem;
