//
// Icon Font: icons
//

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
       url("../fonts/icons.woff") format("woff"),
       url("../fonts/icons.ttf") format("truetype"),
       url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: url("../fonts/icons.svg#icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-calendar:before,
.icon-chevron-down:before,
.icon-circle-left:before,
.icon-circle-right:before,
.icon-eye:before,
.icon-facebook:before,
.icon-feed:before,
.icon-github:before,
.icon-instagram:before,
.icon-key:before,
.icon-linkedin:before,
.icon-mail:before,
.icon-profile:before,
.icon-tag:before,
.icon-tags:before,
.icon-twitter:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-arrow-left:before { content: "\f11d"; }
.icon-arrow-right:before { content: "\f11e"; }
.icon-calendar:before { content: "\f10b"; }
.icon-chevron-down:before { content: "\f10c"; }
.icon-circle-left:before { content: "\f10d"; }
.icon-circle-right:before { content: "\f10e"; }
.icon-eye:before { content: "\f124"; }
.icon-facebook:before { content: "\f110"; }
.icon-feed:before { content: "\f111"; }
.icon-github:before { content: "\f120"; }
.icon-instagram:before { content: "\f113"; }
.icon-key:before { content: "\f125"; }
.icon-linkedin:before { content: "\f119"; }
.icon-mail:before { content: "\f122"; }
.icon-profile:before { content: "\f115"; }
.icon-tag:before { content: "\f116"; }
.icon-tags:before { content: "\f117"; }
.icon-twitter:before { content: "\f118"; }

$font-icons-arrow-left: "\f11d";
$font-icons-arrow-right: "\f11e";
$font-icons-calendar: "\f10b";
$font-icons-chevron-down: "\f10c";
$font-icons-circle-left: "\f10d";
$font-icons-circle-right: "\f10e";
$font-icons-eye: "\f124";
$font-icons-facebook: "\f110";
$font-icons-feed: "\f111";
$font-icons-github: "\f120";
$font-icons-instagram: "\f113";
$font-icons-key: "\f125";
$font-icons-linkedin: "\f119";
$font-icons-mail: "\f122";
$font-icons-profile: "\f115";
$font-icons-tag: "\f116";
$font-icons-tags: "\f117";
$font-icons-twitter: "\f118";
