@import "tether/helpers/tether";
@import "tether/helpers/tether-theme-arrows";

@include tether($themePrefix: "tooltip");
@include tether-theme-arrows($themePrefix: "tooltip", $arrowSize: 0.5rem, $backgroundColor: $gray-dark, $color: #fff, $useDropShadow: true);

.tooltip-element.tooltip-theme-arrows {
  opacity: 0;
  transition: opacity 0.15s ease;
  pointer-events: none;

  .tooltip-content {
    box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.3);
    text-shadow: 0 -0.1rem 0 0 #000;
    border-radius: 0.5rem;
    padding: 0.5rem 0.625rem;
    line-height: 0.7rem;
    font-size: 0.7rem;
  }

  &.tooltip-open-transitionend {
    display: block;
  }

  &.tooltip-after-open {
    opacity: 1;
  }
}
