<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  {% for member in site.data.meta %}<meta name="{{ member[0] }}" content="{{ member[1] }}">
  {% endfor %}
  <meta name="theme-color" content="{{ site.theme_color }}">
  <link rel="mask-icon" href="{{ "/assets/mask-icon.svg" | relative_url }}" color="{{ site.theme_color }}">

  {% include async-webfont.html families="Fira+Sans:400,700italic,700,400italic" %}
</head>
