<header class="site-header{% if page.hero %} hero{% endif %}" role="banner">
  <div class="wrapper">
    <h1 class="site-title">{% unless page.hero %}<a href="{{ "/" | relative_url }}">{% endunless %}{{ site.title | escape }}{% unless page.hero %}</a>{% endunless %}</h1>
    {% unless site.description == false %}
    <h2 class="site-description">{{ site.description | escape }}</h2>
    {% endunless %}
  </div>
  {% unless site.email == false and site.data.contact == empty %}
  <div class="wrapper">
    <nav class="contact-links">
        {% if site.email %}<a href="mailto:{{ site.email }}" title="Email" class="icon">{% include icon.html name='mail' %}</a>{% endif %}{% for link in site.data.contact %}<a href="{{ link.url }}" title="{{ link.name }}" class="icon"{% if link.rel %} rel="{{ link.rel }}"{% endif %}>{% include icon.html name=link.icon width=16 %}</a>{% endfor %}
    </nav>
  </div>
  {% endunless %}
  {% if page.hero and site.posts != empty %}<div class="scroll-down">
    <a href="#page-content" title="Scroll to content">{% include icon.html name='chevron-down' %}</a>
  </div>{% endif %}
</header>
