@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin configure-icon($size: null, $medium-size: null) {
  .icon {
    svg {
      @if $size {
        width: $size;
      }

      @if $medium-size {
        @include media-breakpoint-up(md) {
          width: $medium-size;
        }
      }

      @content;
    }
  }
}
