/* Apple's Civic, circa May 2017 */

$__civic-font-family: "SF Mono", "Fira Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;

$__civic-color-white: #e0e1e6;
$__civic-color-green-1: #44bb3d;
$__civic-color-green-2: #22a054;
$__civic-color-green-3: #31cf71;
$__civic-color-red: #d3232d;
$__civic-color-purple-1: #746daf;
$__civic-color-cyan-1: #149c91;
$__civic-color-magenta: #d7008e;
$__civic-color-orange-1: #c6794b;
$__civic-color-purple-2: #5124e3;
$__civic-color-grey: #55747c;
$__civic-color-cyan-2: #24908d;
$__civic-color-cyan-3: #1da8a1;
$__civic-color-orange-2: #ae5c37;
$__civic-color-black: #1f1f28;

@mixin __civic-plain { color: $__civic-color-white; }
@mixin __civic-comment { color: $__civic-color-green-1; }
@mixin __civic-comment-multiline { color: $__civic-color-green-2; font-style: italic; font-weight: 500; }
@mixin __civic-comment-keyword { color: $__civic-color-green-2; font-style: italic; font-weight: 700; }
@mixin __civic-string { color: $__civic-color-red; }
@mixin __civic-character { color: $__civic-color-purple-1; }
@mixin __civic-number { color: $__civic-color-cyan-1; }
@mixin __civic-keyword { color: $__civic-color-magenta; font-weight: 300; }
@mixin __civic-preprocessor { color: $__civic-color-orange-1; }
@mixin __civic-url { color: $__civic-color-purple-2; }
@mixin __civic-attribute { color: $__civic-color-grey; }
@mixin __civic-name-project { color: $__civic-color-cyan-2; font-weight: 600; }
@mixin __civic-name-other { color: $__civic-color-cyan-3 }
@mixin __civic-preprocessor-other { color: $__civic-color-orange-2 }

code { font-family: $__civic-font-family; }
.highlight { background-color: $__civic-color-black; color: $__civic-color-white; }

.highlight .c { @include __civic-comment }            /* Comment */
.highlight .err { @include __civic-name-other }       /* Error */
.highlight .k { @include __civic-keyword }            /* Keyword */
.highlight .l { @include __civic-number }             /* Literal */
.highlight .n { @include __civic-name-project }       /* Name */
.highlight .o { @include __civic-plain }              /* Operator */
.highlight .p { @include __civic-plain }              /* Punctuation */
.highlight .cm { @include __civic-comment-multiline } /* Comment.Multiline */
.highlight .cp { @include __civic-preprocessor }      /* Comment.Preproc */
.highlight .c1 { @include __civic-comment }           /* Comment.Single */
.highlight .cs { @include __civic-comment-keyword }   /* Comment.Special */
.highlight .gd { @include __civic-plain; font-weight: 300; text-decoration: line-through; } /* Generic.Deleted */
.highlight .ge { text-style: italic }                 /* Generic.Emph */
.highlight .gh { @include __civic-comment-multiline; font-weight: 700 } /* Generic.Heading */
.highlight .gi { @include __civic-plain; font-weight: 500 } /* Generic.Inserted */
.highlight .gp { @include __civic-comment; font-weight: 700 } /* Generic.Prompt */
.highlight .gs { font-weight: 700 }                   /* Generic.Strong */
.highlight .gu { @include __civic-comment-multiline } /* Generic.Subheading */
.highlight .kc { @include __civic-keyword }           /* Keyword.Constant */
.highlight .kd { @include __civic-keyword }           /* Keyword.Declaration */
.highlight .kn { @include __civic-keyword }           /* Keyword.Namespace */
.highlight .kp { @include __civic-keyword }           /* Keyword.Pseudo */
.highlight .kr { @include __civic-keyword }           /* Keyword.Reserved */
.highlight .kt { @include __civic-name-project }      /* Keyword.Type */
.highlight .ld { @include __civic-string }            /* Literal.Date */
.highlight .m { @include __civic-number }             /* Literal.Number */
.highlight .s { @include __civic-string }             /* Literal.String */
.highlight .na { @include __civic-attribute }         /* Name.Attribute */
.highlight .nb { @include __civic-plain }             /* Name.Builtin */
.highlight .nc { @include __civic-name-other }        /* Name.Class */
.highlight .no { @include __civic-name-other }        /* Name.Constant */
.highlight .nd { @include __civic-attribute }         /* Name.Decorator */
.highlight .ni { @include __civic-plain }             /* Name.Entity */
.highlight .ne { @include __civic-name-other }        /* Name.Exception */
.highlight .nf { @include __civic-name-project }      /* Name.Function */
.highlight .nl { @include __civic-plain }             /* Name.Label */
.highlight .nn { @include __civic-name-project }      /* Name.Namespace */
.highlight .nx { @include __civic-name-project }      /* Name.Other */
.highlight .py { @include __civic-plain }             /* Name.Property */
.highlight .nt { @include __civic-attribute }         /* Name.Tag */
.highlight .nv { @include __civic-plain }             /* Name.Variable */
.highlight .ow { @include __civic-attribute }         /* Operator.Word */
.highlight .w { @include __civic-plain }              /* Text.Whitespace */
.highlight .mf { @include __civic-number }            /* Literal.Number.Float */
.highlight .mh { @include __civic-number }            /* Literal.Number.Hex */
.highlight .mi { @include __civic-number }            /* Literal.Number.Integer */
.highlight .mo { @include __civic-number }            /* Literal.Number.Oct */
.highlight .sb { @include __civic-string }            /* Literal.String.Backtick */
.highlight .sc { @include __civic-character }         /* Literal.String.Char */
.highlight .sd { @include __civic-comment }           /* Literal.String.Doc */
.highlight .s2 { @include __civic-string }            /* Literal.String.Double */
.highlight .se { @include __civic-string }            /* Literal.String.Escape */
.highlight .sh { @include __civic-string }            /* Literal.String.Heredoc */
.highlight .si { @include __civic-string }            /* Literal.String.Interpol */
.highlight .sx { @include __civic-string }            /* Literal.String.Other */
.highlight .sr { @include __civic-string }            /* Literal.String.Regex */
.highlight .s1 { @include __civic-string }            /* Literal.String.Single */
.highlight .ss { @include __civic-string }            /* Literal.String.Symbol */
.highlight .bp { @include __civic-plain }             /* Name.Builtin.Pseudo */
.highlight .vc { @include __civic-name-other }        /* Name.Variable.Class */
.highlight .vg { @include __civic-name-other }        /* Name.Variable.Global */
.highlight .vi { @include __civic-name-other }        /* Name.Variable.Instance */
.highlight .il { @include __civic-number }            /* Literal.Number.Integer.Long */