:root {
  --page-margin-v: 18px;
  --page-margin-h: 10px;
  --page-margin: var(--page-margin-v) var(--page-margin-h);
  --under-page-background: #011432;
  --under-page-color: #ffffff;
  --page-background: #ffffff;
  --page-color: #4e5157;
  --heading-color: #1c1b1d;
  --accent-color: #607890;

  background: var(--under-page-background);
  color: var(--under-page-color);
  font-family: system-ui, "Helvetica Neue", Helvetica, sans-serif;
}

/* Reset */
* {
  box-sizing: border-box;
}

/* Page structure */
body {
  display: flex;
  min-height: 90vh;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: 100svh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: var(--under-page-background)
    url(https://cdn.glitch.global/39182fb2-8c4c-48c0-b963-1d87768a8cf7/bg.jpg?v=1645381044868)
    no-repeat fixed 50% 50% / cover;
}

.wrapper {
  max-width: 1000px;
  padding: 30px 22px;
  margin: var(--page-margin-v) var(--page-margin-h);
  margin: max(var(--page-margin-v), env(safe-area-inset-top))
    max(var(--page-margin-h), env(safe-area-inset-right))
    max(var(--page-margin-v), env(safe-area-inset-bottom))
    max(var(--page-margin-h), env(safe-area-inset-left));
  background: var(--page-background);
  box-shadow: 12px 18px 24px rgba(0, 0, 0, 0.6);
  color: var(--page-color);
}

/* Typography */
p {
  margin: 0 0 1.25rem 0;
  font-size: 1.125rem;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 1.875rem 0 1.25rem 0;
  color: var(--heading-color);
  font-weight: 600;
  line-height: 1.1;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.375rem;
}
small {
  font-size: 0.8rem;
}
ul,
ol {
  padding: 0.625rem 0 1.25rem 1.25rem;
  margin: 0;
}
ul > li,
ol > li {
  margin-bottom: 0.625rem;
  font-size: 1rem;
  line-height: 1.1;
}

/* Link styles */
a:link,
a:visited {
  color: var(--accent-color);
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-thickness: 0.125em;
}

/* Content */
.content {
  font-size: 1.125rem;
}

/* Layout: Page */
.h-card p {
  font-weight: bold;
  text-transform: uppercase;
}

.h-card hgroup {
  margin-top: 1.875rem;
}

.h-card hgroup > * {
  display: inline;
  font-size: 1.25rem;
  vertical-align: middle;
}

.h-card h1 {
  margin-left: 5px;
}

.h-card h1:after {
  content: ",";
}

.h-card h2 {
  font-weight: normal;
  color: inherit;
}

.h-card a {
  color: inherit;
}

.h-card img {
  border: 2px solid var(--heading-color);
  border-radius: 50%;
}

.home .content h1:first-of-type {
  margin-bottom: 1.875rem;
  font-size: 3rem;
  font-weight: bold;
}

.home .content h1:after {
  color: var(--accent-color);
  content: ".";
}

/* Media */
@media (prefers-color-scheme: dark) {
  :root {
    --page-background: #1c1c1e;
    --page-color: #aaa6a0;
    --heading-color: #ffffff;
    --accent-color: #7e9ebd;
  }
}

@media (min-width: 375px) {
  :root {
    --page-margin-v: 36px;
    --page-margin-h: 18px;
  }
}

@media (min-width: 767px) {
  :root {
    --page-margin-h: 36px;
  }

  .wrapper {
    padding: 50px;
  }

  ul,
  ol {
    padding: 0 0 0 2.5rem;
  }

  ul > li,
  ol > li {
    margin-left: 1.25rem;
  }

  .h-card p {
    margin-bottom: 2rem;
  }

  .home .content h1:first-of-type {
    width: 85%;
    margin: 3.125rem 0;
    font-size: 5.5rem;
  }
}
