:root {
  --font-family: system-ui, "Helvetica Neue", Helvetica, sans-serif;
  --under-page-background: #011432;
  --under-page-color: #ffffff;
  --page-background: #ffffff;
  --page-color: #4e5157;
  --heading-color: #1c1b1d;
  --accent-color: #607890;
  --page-margin-h: 2px;
  --page-margin-v: 24px;
  --page-margin: var(--page-margin-v) var(--page-margin-h);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background: #1c1c1e;
    --page-color: #aaa6a0;
    --heading-color: #ffffff;
    --accent-color: #7e9ebd;
  }
}

@supports (margin: max(0rem)) {
  :root {
    --page-margin: max(var(--page-margin-v), env(safe-area-inset-top))
      max(var(--page-margin-h), env(safe-area-inset-right))
      max(var(--page-margin-v), env(safe-area-inset-bottom))
      max(var(--page-margin-h), env(safe-area-inset-left));
  }
}

/* Reset */
* {
  box-sizing: border-box;
}

/* Page structure */
body {
  font-family: var(--font-family);
  background: var(--under-page-background)
    url(https://cdn.glitch.global/131a8a69-9134-4914-b943-50e9fb9a2015/bg.jpg?v=1644714780719)
    no-repeat fixed 50% 50% / cover;
  color: var(--under-page-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
}

.wrapper {
  margin: var(--page-margin);
  max-width: 1000px;
  box-shadow: 12px 18px 24px rgba(0, 0, 0, 0.6);
  padding: 30px 22px;
  background: var(--page-background);
  color: var(--page-color);
}

/* Typography */
p {
  margin: 0 0 1rem 0;
  line-height: 1.5;
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 2rem 0 0.8rem;
  font-weight: 600;
  line-height: 1.1;
  color: var(--heading-color);
}
h1 {
  margin-top: 1rem;
  margin-bottom: 1.75rem;
  font-size: 5rem;
  display: inline-flex;
  color: #2800ff;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
small {
  font-size: 0.8rem;
}
ul > li,
ol > li {
  margin-bottom: 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
}
ul {
  padding: 0 0 0 18px;
  margin: 0;
}

/* Link styles */
a:link,
a:visited {
  text-decoration: none;
  border-bottom: 6px solid var(--accent-color);
  color: var(--foreground);
  transition: background 0.2s linear;
}
a:hover {
  background: var(--accent-color);
  color: black;
}

/* Layout: Page */
.h-card p {
  font-weight: bold;
  text-transform: uppercase;
/*   margin: 0; */
}

.h-card hgroup {
  margin-top: 1.875rem;
}

.h-card hgroup > * {
  display: inline;
  font-size: 1.25rem;
  vertical-align: middle;
}

.h-card h1 {
  margin-left: 5px;
}

.h-card h1:after {
  content: ",";
}

.h-card h2 {
  font-weight: normal;
  color: inherit;
}

.h-card a:link {
  color: inherit;
}

.h-card img {
  border-radius: 50%;
  border: 2px solid var(--heading-color);
}

.home main h1 {
  font-size: 48px;
  margin-bottom: 50px;
}

.home main h1:after {
  content: ".";
  color: var(--accent-color);
}



/* Media */
@media (min-width: 375px) {
  :root {
    --page-margin-h: 10px;
    --page-margin-v: 28px;
  }
}

@media (min-width: 767px) {
  .wrapper {
    padding: 50px;
  }
}
