<!DOCTYPE html>
<html lang="{{ metadata.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" type="text/css" href="{{ "/public/style.css" | url }}">
    <link rel="icon" type="image/jpeg" href="{{ metadata.email | avatar("16") }}" sizes="16x16">
    <link rel="icon" type="image/jpeg" href="{{ metadata.email | avatar("32") }}" sizes="32x32">
    <link rel="apple-touch-icon" type="image/jpeg" href="{{ metadata.email | avatar("180") }}" sizes="180x180">
    {% seo "" %}
    <meta name="twitter:dnt" content="on">
    <link rel="me" href="https://github.com/{{ metadata.github }}">
    <link rel="me" href="https://{{ metadata.mastodon[1] }}/@{{ metadata.mastodon[0] }}">
  </head>
  <body>
    <div class="wrapper">
      {{ content | safe }}
    </div>
  </body>
</html>
