<!DOCTYPE html>
<html lang="{{ metadata.lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="{{ "/public/style.css" | url }}" />
    <link rel="icon" type="image/jpeg" href="{{ metadata.email | gravatar("32") }}" />
    {% seo "" %}
  </head>
  <body>
  <main>
    
    {# Page or post content will appear here #}
  
    {{ content | safe }}

      <footer class="footer">
        <div class="links">
          <a href="/">Home</a>
          <span class="divider">|</span>
          <a href="/posts">Posts</a>
          <span class="divider">|</span>
          <a href="/about">About</a>
        </div>
      </footer>
    
  </main>
   
  </body>
</html>