---
permalink: /.well-known/webfinger
eleventyExcludeFromCollections: true
---
{
  "subject": "acct:{{ metadata.email }}",
  "aliases": [
    "https://{{ metadata.mastodon[1] }}/@{{ metadata.mastodon[0] }}",
    "https://{{ metadata.mastodon[1] }}/users/{{ metadata.mastodon[0] }}"
  ],
  "links": [
    {
      "rel": "http://webfinger.net/rel/profile-page",
      "type": "text/html",
      "href": "https://{{ metadata.mastodon[1] }}/@{{ metadata.mastodon[0] }}"
    },
    {
      "rel": "self",
      "type": "application/activity+json",
      "href": "https://{{ metadata.mastodon[1] }}/users/{{ metadata.mastodon[0] }}"
    },
    {
      "rel": "http://ostatus.org/schema/1.0/subscribe",
      "template": "https://{{ metadata.mastodon[1] }}/authorize_interaction?uri={uri}"
    }
  ]
}
