---
title: Not Found
layout: base.njk
permalink: 404.html
---
<header class="fourohfour" data-theme="dark">
  {% include 'nav.njk' %}
</header>
<main class="container">
  <h1>Not found</h1>
  <p>Go back to the home page and try again.</p>
</main>
