<!--  hero -->
<header id="site-head" class="jumbotron<% if (current_page.data.hero || false) %> hero animated fadeIn<% end %>">
    <div class="container">
        <h1 class="blog-title"><%= data.settings.default_title %></h1>
        <% if !data.settings.site_description.nil? %><h2 class="blog-description"><%= data.settings.site_description %></h2><% end %>
        <p class="social-links">
            <% data.links.each do |link| %>
            <%= link_icon_fallback link.name, link.url, link.icon %>
            <% end %>
        </p>
    </div>
</header>
