@use "../node_modules/@picocss/pico/scss/pico" with (
    $semantic-root-element: ".page",
    $enable-responsive-spacings: true
);
@use "../node_modules/prismjs/themes/prism-tomorrow";

@keyframes blink {
  from {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
}

@keyframes fade-in-left {
  0% {
    transform: translateX(-25%);
    opacity: 0;
  }
}

@keyframes fade-in-up {
  0% {
    transform: translateY(33%);
    opacity: 0;
  }
}

:root {
  --theme-dark-background: #075985;
  --theme-dark-muted-color: #9ca3af;
  --pico-border-radius: 1.5em;
  --pico-spacing: 1.75rem;
    background: var(--theme-dark-background);
}

:root,
body {
  height: 100%;
}

.page {
  background: var(--pico-background-color);
  min-height: 100%;
}

.site-title {
  font-size: 1.2rem;
}

.site-title:not(:hover, :active, :focus) {
  text-decoration: none;
}

.site-title:not(:hover, :active, :focus):after {
  content: "_";
  animation: blink 1.5s infinite alternate;
}

.hello, .masthead {
  background: var(--theme-dark-background);
  --pico-muted-color: var(--theme-dark-muted-color);
}

.hello .container {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 4em;
}

.hello h1 {
  --pico-font-size: 4rem;
  grid-row: 1 / 3;
  grid-column: 1;
  line-height: 1em;
  letter-spacing: -1px;
  z-index: 1;
  animation: 1.25s fade-in-left backwards;
}

.hello h1 a {
  text-decoration: none;
}

.hello img {
  grid-row: 2 / 4;
  grid-column: 1;
  border-radius: 3em;
  animation: 2s fade-in backwards;
}

.hello hgroup {
  grid-row: 4;
  grid-column: 1;
  margin-bottom: 0;
  animation: 1.5s fade-in-up backwards;
}

.four-oh-four {
  background: url(/assets/404.jpg) no-repeat 0% 50% / cover;
  height: 18rem;
  margin-block-end: var(--pico-block-spacing-vertical);
}

[class*="icon-"] {
  padding-left: 1.5em;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: 1em auto;
}

.icon-date {
  background-image: var(--pico-icon-date);
}

.icon-time {
  background-image: var(--pico-icon-time);
}

#experience {
  grid-row-gap: 2em;
}

#affiliations {
  grid-template-columns: 1fr 1fr 1fr;
}

dd nav ul,
dd nav ol {
  display: flex;
}

dd nav li {
  padding-top: 0;
}

dd nav li a svg {
  fill: currentColor;
  width: 2.5em;
  height: 2.5em;
}

nav {
  align-items: first baseline;
}

[data-tooltip]::before,
[data-tooltip]::after {
  letter-spacing: normal;
  line-height: normal;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .hello {
    height: 100%;
    height: 100svh;
    min-height: fit-content;
  }

  .hello .container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3.75em;
    height: 100%;
    min-height: fit-content;
  }

  .hello h1 {
    --pico-font-size: 5rem;
    grid-row: 1;
    grid-column: 1 / 5;
  }

  .hello img {
    grid-row: 1 / 3;
    grid-column: 3 / 7;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hello hgroup {
    grid-row: 2;
    grid-column: 1 / 3;
    align-self: end;
  }

  main > h1 {
    font-size: 3em;
  }

  #experience {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1024px) {
  #experience {
    grid-template-columns: auto 25%;
  }

  #affiliations {
    grid-template-columns: 1fr;
  }
}
