<footer id="site-footer">
  <div class="inner">
    <section class="copyright">Content copyright &copy; <%= Date.today.year %> <%= link_to data.settings.default_title, '/' %>. All rights reserved.</section>
    <section class="poweredby">Inspired by <%= link_to "Stefan Laketa", "http://laketa.com/" %>&#8217;s <%= link_to "Orre", "https://github.com/lacke/Orre-Theme-for-Ghost", 'data-tooltip' => "Get it on GitHub!", 'data-tooltip-position' => 'bottom center' %>.</section>
  </div>
</footer>
